@using LibraryManagement.Models
@model IEnumerable<LibraryManagement.Models.MembershipModel>
@{
    var profileData = Session["UserProfile"] as UserSession;
    if (profileData.Designation != 3)
    {
        ViewBag.Title = "Membership";
        Layout = "~/Views/Shared/_Master.cshtml";
    }
    else
    {
        ViewBag.Title = "Membership";
        Layout = "~/Views/Shared/_User.cshtml";
    }
}

<section style="background-color: rgba(222, 222, 222, 0.8); padding: 1%;">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 1%;">
            <div class="col-md-10">
                <a href="@Url.Action("GetAllMemberDetails", "Member")"><button class="btn btn-sm" style="float: left;"><span class="glyphicon glyphicon-chevron-left"></span>Back</button></a>
                <h4 style="text-align: center;">View Membership</h4>
            </div>
        <div class="col-md-2">
            <a href="@Url.Action("AddMembership","Membership")"><button class="btn btn-sm btn-success" style="float: right; font-weight: bold; margin-bottom: 2%;">Add New Membership</button></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr style="background-color: rgba(55, 15, 15, 0.8); color: white; font-weight: bold;">
                        <th>Membership Category</th>
                        <th>No. Of Books</th>
                        <th></th>
                    </tr>

                    @foreach (var membership in Model)
                    {
                        @Html.HiddenFor(model => membership.MembershipId)
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => membership.MembershipCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => membership.NoOfBooks)
                            </td>
                            <td style="text-align: right;">
                                @Html.ActionLink("Edit", "EditMembershipDetails", new { id = membership.MembershipId }) |
                                @Html.ActionLink("Delete", "DeleteMembership", new { id = membership.MembershipId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</section>



