<header>
    <!--Entirely for navigation-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Navigation responsive code starts here-->
                <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Dashboard","Home")">
                            <img id="nav_brand" src="@Url.Content("~/Content/images/logo.png")" width="20%"></img>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Dashboard","Home")">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetAllCopies","Copies")">View Stock</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetAllLoan","Loan")">View Loaned Books</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<strong class="caret"></strong></a>
                                <ul class="dropdown-menu" style="margin-left: -75%;">
                                    <li>
                                        <a href="@Url.Action("GetAllShelfDetails","Shelf")">Shelf</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetAllMemberDetails","Member")">Members</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassword","User")">Password</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="@Url.Action("LogOut","Home")">Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--Nav end-->
        </div>
    </div>
</header>
