@model IEnumerable<LibraryManagement.ViewModels.UserWithAuthentication> 
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<section style="background-color: rgba(222, 222, 222, 0.8); padding: 1%;">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 1%;">
            <div class="col-md-10">
                <a href="@Url.Action("Dashboard", "Home")"><button class="btn btn-sm" style="float: left;"><span class="glyphicon glyphicon-chevron-left"></span>Back</button></a>
                <h4 style="text-align: center;">View User</h4>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("AddUser", "User")"><button class="btn btn-sm btn-success" style="float: right; font-weight: bold;">Add New User</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr style="background-color: rgba(55, 15, 15, 0.8); color: white; font-weight: bold;">
                        <th>Username</th>
                        <th>Password</th>
                        <th>Authentication Type</th>
                        <th></th>
                    </tr>

                    @foreach (var user in Model)
                    {
                        @Html.HiddenFor(model => user.UserId)
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => user.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.AuthenticationName)
                            </td>
                            <td style="text-align: right;">
                                @Html.ActionLink("Edit", "EditUserDetails", new { id = user.UserId }) |
                                @Html.ActionLink("Delete", "DeleteUser", new { id = user.UserId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>


